.bg-blue-navy {
    background-color: #000925;
}

.bg-blue-grey {
    background-color: #5166a3;
}

.scroll-container {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.scroll-container::-webkit-scrollbar {
    display: none; 
}

.text-blue-navy {
    color: #000925;
}

.text-blue-grey {
    color: #5166a3;
}

#animation-carousel {
    border-color: #000925;
}

